*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gris : rgb(83, 83, 83);
    --violet : rgb(138, 108, 206);
    --grisHover : rgb(112, 112, 112);
    --violetHover : rgb(164, 134, 189);
    --lavander : rgb(238, 218, 255);
    --white : rgb(255,255,255);
}

body{
    background-color: var(--gris) !important;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

/*
LOGS PART
*/
form{
    border: 4px solid var(--violet);
    padding: 2% 5%;
    margin: 10% 20%;
    border-radius: 16px;
    background-color: var(--grisHover);
}

form h3 {
    color: var(--lavander);
    margin-bottom: 3%;
    text-align: center;
    font-size: 4vw;
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

form label {
    color: var(--lavander);
    margin-top: 3%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

form .btn{
    
    background-color: var(--violet);
    border-color: var(--violet);
    font-family: "Anton", sans-serif;
    font-size: 1.5vw;
}

form .btn:hover{
    background-color: var(--violetHover);
    border: none;
    transition: 0.3s;
}

#buttonDiv {
    display: flex;
    margin-top:5%;
    align-items: center;
    justify-content: center;
}

/*
NAV PARTS
*/

.navbar{
    background-color: var(--gris) !important;
}

nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--violet);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav ul{
    height: 100% !important;
}

.nav-item,.dropdown-item{
    position: relative;
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--violet);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav-item:hover::after, .nav-item .active{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link{
    color: var(--violet) !important;
    text-transform: uppercase;
}

.nav-link::after{
    color: var(--violet);
}

.active{
    font-weight: 900;
}

/*
FORM
*/

.form-control{
    background-color: var(--lavander);
}

.form-control:focus{
    background-color: var(--lavander);
    box-shadow: 0px 0px 3px 3px var(--violetHover);
    border-color: var(--violet);
}

.form-check-input{
    background-color: var(--lavander) ;
}

.form-check-input:checked{
    background-color: var(--violet);
    border-color: var(--violet);
}

.form-check-input:focus{
    box-shadow: 0px 0px 3px 3px var(--violetHover);
    border: var(--violet);
}

.onlyOneChoice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.checkboxLabel{
    margin: 0;
}