*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gris : rgb(83, 83, 83);
    --violet : rgb(138, 108, 206);
    --grisHover : rgb(112, 112, 112);
    --violetHover : rgb(164, 134, 189);
    --white : rgb(255,255,255);
}

body{
    background-color: var(--gris) !important;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

/*
LOGS PART
*/
#FormLogIn{
    border: 4px solid var(--violet);
    padding: 2% 5%;
    margin: 10% 20%;
    border-radius: 16px;
    background-color: var(--grisHover);
}

#FormLogIn h3 {
    color: var(--white);
    margin-bottom: 3%;
    text-align: center;
    font-size: 4vw;
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

#FormLogIn label {
    color: var(--white);
    margin-top: 3%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

#FormLogIn .btn{
    
    background-color: var(--violet);
    border-color: var(--violet);
    font-family: "Anton", sans-serif;
    font-size: 1.5vw;
}

#FormLogIn .btn:hover{
    background-color: var(--violetHover);
    transition: 0.3s;
}

#buttonDiv {
    display: flex;
    margin-top:5%;
    align-items: center;
    justify-content: center;
}

/*
NAV PARTS
*/

.navbar{
    background-color: var(--gris) !important;
    padding: 0 !important;
}

nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--violet);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav ul{
    height: 100% !important;
}

.nav-item:hover{
    background-color: var(--grisHover) !important;
}

.nav-link{
    color: var(--violet) !important;
}

.nav-link::after{
    color: var(--violet);
}

.active{
    color: var(--violet);
    transition: 0.3s;
}

