{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

    <h1>Liste des modules</h1>

    {% if modules | length > 0 %}
        <table>
            <thead>
                <td>Nom du module</td>
                <td>Categorie</td>
            </thead>
            <tbody>
            {% for module in modules %}
            <tr>
                <td>{{module}}</td>
                <td>{{module.category}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Il n'y a pas de Module . . .
    {% endif %}

{% endblock %}
