{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau programe{% endblock %}

{% block body %}

    <h1> {{program.module}} de la session {{program.session}}</h1>

    <p>Va durée {{program.duration}}</p>
    

{% endblock %}