{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle session{% endblock %}



{% block body %}

    <a href="{{path('app_session')}}">Retour</a>
    <h1> Ajouter une nouvelle session</h1>

    {{form(form)}}

{% endblock %}
