{% extends 'base.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block body %}

    <a href="{{path('user.new')}}">Inscription d'un utilisateur</a>
    <h1>Liste des utilisateurs</h1>

    {% if users|length > 0 %}
        {% for user in users %}
            <li><a href="{{path('user.show',{id:user.id})}}">{{user}}</a></li>
        {% endfor %}
    {% else %}
        <p>Il n'y a pas d'utilisateur intégré</p>
    {% endif %}

{% endblock %}
